.categories_numero {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Crée deux colonnes de largeur égale
  grid-template-areas: 'full full' 'half half2';

  .full {
    grid-area: full;
  }
  .half {
    grid-area: half;
  }
    .half2 {
        grid-area: half2;
    }
}