@import "../../assets/style.scss";

.cardcategory{
  position: relative;
  width: 29%;
  box-shadow: 6px 5px 15px 0px rgba(0,0,0,0.25);
  padding: 15px;
  h4{
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: normal;
    margin: 20px 0;
  }
  img{
    width: 100%;
  }
  .ribbon{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bleu;
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 25px 5px 25px;
    border-radius: 0 0 15px 0;
  }
  .date{
    font-size: 0.8em;
    color: $gris;
    font-style: italic;
  }
}