@import "src/assets/style.scss";

.image_couverture{
    width: 100%;
    height: 400px;
    img{
        width: 100%;
        height: 100%; // Ajoutez cette ligne pour que l'image prenne toute la hauteur de la div
        object-fit: cover;
        object-position: top;
    }

}

.enTete{
  text-align: center;
  h1{
    &:after{
      content: none;
    }
  }
  .DateModif{
    font-size: 0.8em;
    color: $gris;
    font-style: italic;
    margin-bottom: 20px;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $orange;
    margin: 20px auto;
  }
}
.contenu{
  line-height: 1.5rem;
  margin-top: 35px;
}
.similaires{
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
