// Small tablets and large smartphones (landscape view)
$screen-sm-max: 575.98px;

// Small tablets (portrait view)
$screen-md-max: 767.98px;

// Tablets and small desktops
$screen-lg-max: 991.98px;

// Large tablets and desktops
$screen-xl-max: 1399.98px;

// Large tablets and desktops
$screen-xxl-max: 1599.98px;

// Small devices
@mixin screen-sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin screen-md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Large devices
@mixin screen-lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin screen-xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// Extra extra large devices
@mixin screen-xxl {
    @media (max-width: #{$screen-xxl-max}) {
        @content;
    }
}
