@charset "UTF-8";
/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input {
  all: unset;
}
