@import "assets/style.scss";


.App{
  .search-bar{
    height: 100px;
  }


  main{
    h2{
      &:before{
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        background-color: $orange;
        margin-bottom: 20px;
      }
    }
    .numéros{
      > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .présentation{
      > div{
        position: relative;
      }
      .text-présentation{
        position: absolute;
        width: 52%;
        padding: 30px;
        color: white;
        background-color: $gris;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        font-family: $primary-font;
        margin : 0;
      }
      img{
        width: 53.3%;
        margin-left: 46.7%;
      }
    }
    .catégories{
      > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .cardcategory{
        margin-bottom: 20px;
      }
    }
  }
}
