.admin{
  margin-top: 175px;
  section{
    margin-bottom: 50px;
  }
  h1{
    &:after{
      content: none;
    }
    font-size: 2em;
    font-weight: 500;
  }
  .formulaire{
    display: flex;
    flex-direction: column;
    .MuiTextField-root{
      width: 100%;
    }
  }
  .titre_liste_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .btn_delete{
      background-color: #bd0f0f;
      color: white;
      font-weight: bold;

    }

  }
}

.logout{
  text-align: center;
  margin: 20px 0;
  .btn_logout{
    background-color: #bd0f0f;
    color: white;
    font-weight: bold;
  }
}